.project
.settings
.classpath
.sonatype
target
reports
test-output
output
output/html-report
Test_Results
.html
src/main/resources/ClouderaImpalaJdbc.conf
src/test/java/com/ccx/features/InitialAuth2.feature
src/resources/logs
*.log
*.log.zip

/.metadata/
baseline/src/test/java/com/ccx/features/InitialAuth2.feature
baseline/src/test/java/com/
baseline/Test_Results
baseline/src/resources/testdata
baseline/src/Input


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.classpath
.mdmp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/bin/
